#https://github.com/github/gitignore/blob/master/Ruby.gitignore
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
# Gemfile.lock shouldn't be checked in for gems
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/


# Extra's not part of the template
.buildpath
.project
